<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Todo</title>
    <link rel="stylesheet" href="/styles/edit.css">
</head>

<body>
    <div class="container">
        <h1><%= heading %></h1>
        <% if(locals.todo) {%>
            <form id="editForm" method="post" action="/api/todo/:id">
                <input type="text" name="title" value="<%= todo.todoName %>">
                <textarea name="content" rows="10"><%= todo.todoDescription %></textarea>
                <button class="updateButton" type="submit">Update</button>
            </form>
            <% } else{%>
                <form id="newForm" method="post" action="/api/todo">
                    <input type="text" name="title" placeholder="Todo Name" required>
                    <textarea name="content" placeholder="Todo Description" required rows="10"></textarea>
                    <button class="submitButton" type="submit">Submit</button>
                </form>
                <% } %>
                    <a class="exit" href="/">x</a>
    </div>
</body>

</html>