<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <div class="container">
        <h1 class="title">My Todo List</h1>
        <a class="addBtn" href="newTodoBtn" href="/new">Add Todo</a>
        <% if(locals.todos) {%>
            <% todos.forEach(todo=> {%>
                <li>
                    <h2>
                        <%= todo.todoName %>
                    </h2>
                    <p>
                        <%= todo.todoDescription %>
                    </p>
                    <a class="edit" href="/edit/<%= todo.id %>">Edit</a>
                    <a class="delete" href="/delete/<%= todo.id %>">Delete</a>
                </li>
                <% }) %>
                    <% } %>
    </div>
</body>

</html>